.modals_heder{
    padding:0.6rem 1.4rem;
    line-height: 3rem;
}
.modals_heder span{
    font-size: 14px;
}
.modal_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.modals{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    gap: 1rem;
    align-items: center;
}
.modals input{
    padding: 1rem;
    width: 90%;
    border-radius: 20px;
    border: thin solid lightgray;
}
.modals button{
    padding: 1rem;
    width: 90%;
   background-color: #006097;
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 20px;
}
.modals span{
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}
.modals span:hover{
    color: #006097;
    text-decoration: underline;
}
